{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Recovery" noop %}{% endblock %}

{% block main %}
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3 p-0">
            <div class="card shadow-sm bg-light">
                <h5 class="card-header">{% trans "Buat Kata Sandi Baru" noop %}</h5>

                <div class="card-body">
                    {% if isvalid %}
                        <form id="password-recovery-form class="needs-validation" action="{% url 'person_password_recovery' %}" method="POST" novalidate>
                            <div class="form-group">
                                <label for="account">{% trans "Email atau Nama Pengguna Terdaftar" noop %}</label>
                                <input type="text" id="account" name="account" class="form-control" value="{{ otp_email }}" disabled>
                            </div>

                            <hr />

                            {% csrf_token %}
                            {{ form|crispy }}

                            <div class="d-flex w-100 align-items-center">
                                <button type="submit" id="submit-password-recovery" class="btn btn-info btn-block pl-4 pr-4 mr-auto">
                                    {% trans "Ubah Kata Sandi" %}
                                </button>
                            </div>
                        </form>
                    {% else %}
                        Sesi pembaruan kata sandi tidak valid. Silahkan kunjugi halaman <a href="{% url 'person_lost_password' %}">reset kata sandi</a> untuk mengulang proses.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                togglePasswordVisible();
            }, false);
        })();
    </script>
{% endblock %}