{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Lupa Kata Sandi" noop %}{% endblock %}

{% block main %}
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3 p-0">
            <div class="card shadow-sm bg-light">
                <h5 class="card-header d-flex w-100">
                    {% trans "Lupa Kata Sandi" noop %}

                    <a href="{% url 'person_login' %}" class="ml-auto small">
                        {% trans "Masuk" noop %}
                    </a>
                </h5>

                <div class="card-body">
                    <form id="lost-password-form" action="{% url 'person_lost_password' %}" method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}

                        <p>{% trans "Masukkan email atau nomor ponsel yang terdaftar. Kami akan mengirimkan kode verifikasi untuk mengatur ulang kata sandi." noop %}</p>

                        <div class="form-group">
                            <label for="account">{% trans "Email atau Nomor Ponsel" noop %}</label>
                            <input type="text" id="account" class="form-control" name="account" required>
                        </div>

                        <div class="d-flex w-100 align-items-center">
                            <button type="submit" id="lost-password-submit" class="btn btn-info btn-block pl-4 pr-4 mr-auto">
                                {% trans "Selanjutnya" %}
                            </button>

                            <div id="spinner" class="spinner-border spinner-border-sm ml-3 d-none" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var form = document.getElementById('lost-password-form');
                var spinner = document.getElementById('spinner');
                var submitButton = document.getElementById('lost-password-submit');
                var account = document.getElementById('account');
                var errorMessage = '{% trans "Terjadi kesalahan" noop %}';

                // ...
                // FORM HANDLER
                // ...
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    event.stopPropagation();

                    if (form.checkValidity() === true) {
                        spinner.classList.remove('d-none');
                        submitButton.disabled = true;

                        if (account.value) accountHandler(account.value);
                    }

                    form.classList.add('was-validated');
                }, false);


                // ...
                // SUBMIT
                // ...
                function accountHandler(accountValue) {
                    $.ajax({
                        method: 'POST',
                        headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                        url: siteUrl + 'api/person/users/check-account-exist/',
                        data: {'account': accountValue},
                        success: function(resp) {
                            // Extra data based on necessary
                            // This time for password recovery
                            resp['challenge'] = 'password_recovery';
                            resp['redirect_to'] = "{% url 'person_otp_validation' %}";

                            $(document.body).append(modalElem(resp));
                            $(document).find('#verificationModal').modal('show');

                            // Update form to validated
                            account.classList.remove('is-invalid');
                            form.classList.add('was-validated');
                        },
                        error: function(err) {
                            account.classList.add('is-invalid');
                            form.classList.remove('was-validated');
                            
                            if (err) {
                                var responseJSON = err.responseJSON;
                                $.each(responseJSON, function(index, value) {
                                    if (value) errorMessage = Array.isArray(value) ? value.join(' ') : value;
                                });
                            }

                            runGeneralNotify(errorMessage, 'danger');
                        },
                        complete: function() {
                            spinner.classList.add('d-none');
                            submitButton.disabled = false;
                        }
                    });
                }
            }, false);
        })();
    </script>
{% endblock %}