{% extends 'v1/base/base-user.html' %}
{% load i18n static %}

{% block head_title %}{% trans "Pendidikan" noop %}{% endblock %}

{% block main %}
    <h6 class="text-uppercase font-weight-bold">{% trans 'Pendidikan' noop %}</h6>

    <button type="button" id="add-item" class="btn btn-info pr-3 pl-3 btn-sm mb-3">
        {% trans 'Tambah' noop %}
    </button>

    <ul id="item-list" class="list-unstyled list-margin">
        <!-- LIST HERE -->
    </ul>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js" defer></script>
    <script src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}" defer></script>
    
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {
            var $modalEl = `<div class="modal fade" id="modal-form" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{% trans 'Pendidikan' noop %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="resume-education-form" class="uk-form-stacked" method="POST" action="{% url 'resume_view:education' %}">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="school">{% trans 'Nama lembaga' noop %}*</label>
                                    <input class="form-control" type="text" id="school" name="school" placeholder="Universitas Tanya Pakar" autocomplete="off" required>
                                </div>

                                <div class="form-group">
                                    <label for="degree">{% trans 'Degree' noop %}</label>
                                    <input class="form-control" type="text" id="degree" name="degree" placeholder="Strata 1" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="degree">{% trans 'Studi' noop %}</label>
                                    <input class="form-control" type="text" id="study" name="study" placeholder="Geofisika" autocomplete="off">
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="start_year">{% trans 'Tahun masuk' noop %}</label>
                                            <input class="form-control" type="number" id="start_year" name="start_year" placeholder="1997" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="end_year">{% trans 'Tahun selesai' noop %}</label>
                                            <input class="form-control" type="number" id="end_year" name="end_year" placeholder="2001" autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description">{% trans 'Keterangan' noop %}</label>
                                    <textarea class="form-control" id="description" name="description" placeholder="Keterangan tambahan jika ada..." autocomplete="off"></textarea>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="status" name="status" value="publish" checked>
                                        <label class="form-check-label" for="status">
                                            {% trans 'Terbitkan' noop %}
                                        </label>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button type="submit" class="btn btn-info pl-3 pr-3">{% trans 'Simpan' noop %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>`;

            // ...
            // EDUCATION ITEM
            // ...
            var objItem = function(obj) {
                return `<li id="education-${obj.id}" class="media" data-uuid="${obj.uuid}" data-sort-order="${obj.sort_order}" data-json='${JSON.stringify(obj)}'>
                    <div class="media-body">
                        <div class="d-flex w-100">
                            <div>
                                <strong>${obj.school}</strong>
                                ${obj.status != 'publish' ? `<span class="badge badge-warning">Konsep</span>` : ``}

                                ${obj.degree || obj.study ? `
                                    <p class="m-0 small text-muted">
                                        ${obj.study ? obj.study : ''}${obj.degree ? `, ${obj.degree}` : ``}
                                    </p>`
                                : ``}

                                ${obj.start_year ? `<p class="m-0 text-muted small">${obj.start_year}${obj.end_year ? ` - ${obj.end_year}` : ``}</p>` : ``}
                                ${obj.description ? `<p class="m-0">${obj.description}</p>` : ``}
                            </div>

                            <div class="ml-auto">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-light btn-sm dropdown-toggle small" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Opsi
                                    </button>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button" id="edit">Edit</button>
                                        <button class="dropdown-item" type="button" id="delete" data-uuid="${obj.uuid}">Hapus</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>`;
            }

            // ... 
            // ADD EDUCATION
            // ...
            $(document).on('click', '#add-item', function(e) {
                e.preventDefault();

                $($modalEl).appendTo('body');
                $('#modal-form').modal('show');
            });

            // ...
            // LOAD EDUCATION
            // ...
            var loadEducation = function() {
                $.ajax({
                    method: 'GET',
                    url: API_ENDPOINT + 'resume/educations/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    cache: false,
                    success: function(response) {
                        var items = '';

                        $.each(response, function(k, v) {
                            items += objItem(v);
                        });

                        $('#item-list').html(items);
                        $('#item-list').sortable();
                    }
                });
            }

            loadEducation();
    

            // ... 
            // SORTABLE
            // ... 
            $(document).on('sortupdate', '#item-list', function(event, ui) {
                var sortItems = [];

                $.each($(this).find('li.media'), function(i, v) {
                    var item = {
                        'uuid': $(v).attr('data-uuid'),
                        'sort_order': i + 1
                    }

                    sortItems.push(item);
                });

                doSorting(sortItems);
            });
        
            var doSorting = function(param) {
                $.ajax({
                    method: 'PUT',
                    url: API_ENDPOINT + 'resume/educations/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(param),
                    cache: false,
                    success: function(response) {
                        // pass
                    }
                });
            }

            // ...
            // SUBMIT FORM
            // ...
            $(document).on('submit', '#resume-education-form', function(e) {
                e.preventDefault();

                // clear all alert
                $(this).find('.uk-alert').remove();

                var values = $(this).serializeArray(),
                    uuid = $(this).find('button[type="submit"]').attr('data-uuid');
                    param = {},
                    hasStatus = false;
                
                $.each(values, function(i, v) {
                    if (v.name === 'status') hasStatus = true;
                    
                    param[v.name] = v.value;
                });

                if (!hasStatus) param['status'] = 'draft';

                if (uuid) {
                    doUpdate(param, uuid);
                } else {
                    doSave(param);
                }
            });

            // ...
            // SAVE FORM
            // ...
            var doSave = function(param) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'resume/educations/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(param),
                    cache: false,
                    success: function(response) {
                        var item = objItem(response);

                        $('#item-list').append(item);
                        $('#resume-education-form')[0].reset();
                        $('#modal-form').modal('hide');
                    },
                    error: function(error) {
                        var errorJSON = error?.responseJSON;

                        if (error && errorJSON) {
                            $.each(errorJSON, function(k, v) {
                                var message = '';

                                if(Array.isArray(v)) {
                                    message = v.join(' ');
                                } else {
                                    message = v;
                                }
                                
                                var el = $('#' + k);
                                el.closest('.form-group').after('<p class="small uk-text-danger uk-alert">' + message + '</p>');
                            });
                        }
                    }
                });
            }

            // ...
            // UPDATE FORM
            // ...
            var doUpdate = function(param, uuid) {
                $.ajax({
                    method: 'PATCH',
                    url: API_ENDPOINT + 'resume/educations/' + uuid + '/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(param),
                    cache: false,
                    success: function(response) {
                        var item = objItem(response);

                        $('#education-' + response.id).replaceWith(item);
                        $('#resume-education-form')[0].reset();
                        $('#modal-form').modal('hide');
                    },
                    error: function(error) {
                        var errorJSON = error?.responseJSON;

                        if (error && errorJSON) {
                            $.each(errorJSON, function(k, v) {
                                var message = '';

                                if(Array.isArray(v)) {
                                    message = v.join(' ');
                                } else {
                                    message = v;
                                }
                                
                                var el = $('#' + k);
                                el.closest('.form-group').after('<p class="small uk-text-danger uk-alert">' + message + '</p>');
                            });
                        }
                    }
                });
            }

            // ... 
            // DELETE
            // ...
            $(document).on('click', '#delete', function(e) {
                e.preventDefault();

                var uuid = $(this).attr('data-uuid');

                Swal.fire({
                    title: 'Apakah Yakin?',
                    text: "Tindakan ini menghapus data selamanya.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, Hapus'
                }).then((result) => {
                    if (result.isConfirmed) {
                        doDelete(uuid, $(this));
                    }
                });
            });

            var doDelete = function(uuid, $this) {
                $.ajax({
                    method: 'DELETE',
                    url: API_ENDPOINT + 'resume/educations/' + uuid + '/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    cache: false,
                    success: function(response) {
                        Swal.fire(
                            'Informasi',
                            'Data telah dihapus permanen.',
                            'success'
                        )

                        $this.closest('li.media').remove();
                    }
                });
            }

            // ...
            // EDIT
            // ...
            $(document).on('click', '#edit', function(e) {
                e.preventDefault();
                
                var data = $(this).closest('li.media').attr('data-json'),
                    json = (data ? JSON.parse(data) : {});
                
                $($modalEl).appendTo('body');
            
                $('#modal-form').modal('show');
                $('#modal-form').on('shown.bs.modal', function() {
                    var $thisModal = $(this);

                    $.each(json, function(n, v) {
                        if (n === 'status') {
                            if (v === 'publish') {
                                $thisModal.find('form #' + n).prop('checked', true);
                            } else {
                                $thisModal.find('form #' + n).prop('checked', false);
                            }
                        } else {
                            $thisModal.find('form #' + n).val(v);
                        }
                    });
                });

                $('#modal-form button[type="submit"]').attr('data-uuid', json.uuid);
            });

            $(document).on('hidden.bs.modal', '#modal-form', function(e) {
                $(this).modal('dispose');
                $(this).remove();
            });
        });
    </script>
{% endblock %}