{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Dasbor" noop %}{% endblock %}

{% block main %}
    <div class="d-flex align-items-center justify-content-center flex-column">
        <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3 p-0">
            {% if messages %}
                <ul class="messages list-unstyled">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                
            }, false);
        })();
    </script>
{% endblock %}