{% load i18n static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Menjadi programer hebat">
    <meta name="keywords" content="konsultasi pemprograman">
    <meta name="author" content="Tanya Pakar">

    <title>{% block head_title %}{% endblock %} | Tanya Pakar</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'vendors/uikit/css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% block style %}{% endblock %}
    <!-- END: Custom CSS-->
</head>

<body>
    <header class="app-header">
        {% include 'navbar.html' %}
        {% block header %}{% endblock %}
    </header>

    <main class="app-main">
        <div class="container-fluid">
            {% block main %}{% endblock %}
        </div>
    </main>
    
    <footer class="app-footer">{% block footer %}{% endblock %}</footer>

    <script src="{% static 'vendors/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'vendors/uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'vendors/uikit/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>

    <!-- BEGIN: Global Variable -->
    <script type="text/javascript">
        var siteUrl = "{{ request.scheme }}://{{ request.get_host }}/";
        var personEndpoint = siteUrl + '/person/api/';

        // ...
        // LOGIN MODAL
        // ...
        UIkit.util.on('#login-modal', 'show', function(event) {
            var el_loginForm = `<form class="uk-form-stacked" method="POST">
                <div class="uk-margin">
                    <label class="uk-form-label" for="account">{% trans "ID Akun" noop %}</label>

                    <div class="uk-inline uk-width-expand">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" id="account" name="account" type="text" placeholder="{% trans "Nomor Ponsel, Email atau Username" noop %}">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="password">{% trans "Kata Sandi" noop %}</label>

                    <div class="uk-inline uk-width-expand">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" id="password" type="password" placeholder="{% trans "Kata sandi Akun" noop %}">
                    </div>
                </div>

                <div class="uk-flex uk-flex-middle uk-width-expand">
                    <button type="submit" id="login-submit" class="uk-button uk-button-primary uk-margin-right">{% trans "Masuk" noop %}</button>
                    
                    <div class="uk-margin-auto-left">
                        <a href="#">Tidak bisa masuk?</a>
                    </div>
                </div>
            </form>`;

            document.getElementById('login-form').innerHTML = el_loginForm;

            const el_submitLogin = document.getElementById('login-submit');
            el_submitLogin.addEventListener('click', function(event) {
                event.preventDefault();
                console.log("A");
            }, false);
        });

        

        /***
         * Debounce a time...
         */
        function debounced(delay, fn) {
            let timerId;
            return function (...args) {
                if (timerId) {
                    clearTimeout(timerId);
                }

                timerId = setTimeout(function() {
                    fn(...args);
                    timerId = null;
                }, delay);
            }
        }

        /***
         * Notify
         */
        var notifyTemplate = `<div data-notify="container" class="col-xs-11 col-sm-11 col-md-9 col-lg-8 col-xl-7 alert-notify alert alert-{0} shadow-sm" role="alert">
            <button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
            <span data-notify="icon"></span>
            <span data-notify="title">{1}</span>
            <span data-notify="message">{2}</span>
            <div class="progress" data-notify="progressbar">
                <div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
            <a href="{3}" target="{4}" data-notify="url"></a>
        </div>`;

        var runGeneralNotify = function(message='', type='info') {
            $.notify({
                message: message,
            },{
                template: notifyTemplate,
                type: type,
                delay: 2500,
                timer: 500,
                placement: {
                    from: "bottom",
                    align: "center"
                },
            });
        }

        
        // ...
        // GENERAL USER DATA
        // ...
        var userData = {
            email: "{{ user.email }}",
            msisdn: "{% if user.account.msisdn %}{{ user.account.msisdn }}{% endif %}",
            username: "{{ user.username }}",
        }


        // ...
        // CHECK PHONE NUMBER VALID
        // ...
        function isPhoneNumberValid(value) {
            var r = /^[0-9]+$/;
            var p = value.match(r);

            if (p) {
                if (value.toString().length < 10 || value.toString().length > 14) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }


        // ...
        // CHECK EMAIL VALID
        // ...
        function isEmailValid(value) {
            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (value.match(mailformat)) {
                return true;
            } else {
                return false;
            }
        }


        // ...
        // SHOW HIDE PASSWORD
        // ...
        var togglePasswordVisible = function() {
            $(document).find('[data-toggle="password"]').each(function () {
                var input = $(this);
                var eye_btn = $(this).parent().find('.input-group-text');
                eye_btn.css('cursor', 'pointer').addClass('input-password-hide');
                eye_btn.on('click', function () {
                    if (eye_btn.hasClass('input-password-hide')) {
                        eye_btn.removeClass('input-password-hide').addClass('input-password-show');
                        eye_btn.find('.fa').removeClass('fa-eye').addClass('fa-eye-slash')
                        input.attr('type', 'text');
                    } else {
                        eye_btn.removeClass('input-password-show').addClass('input-password-hide');
                        eye_btn.find('.fa').removeClass('fa-eye-slash').addClass('fa-eye')
                        input.attr('type', 'password');
                    }
                });
            });
        }


        var cancelText = '{% trans "Batal" noop %}';
        var changeText = '{% trans "Sunting" noop %}';
        var successMessage = '{% trans "Profil berhasil diperbarui" noop %}';
        var errorMessage = '{% trans "Terjadi kesalahan" noop %}';
        var sendViaEmailMessage = '{% trans "Melaui email ke" noop %}';
        var sendViaSMS = '{% trans "Melaui SMS ke" noop %}';
        var enterOTPCodeMessage = '{% trans 'Masukkan Kode OTP' noop %}';
        var chooseChannelMessage = '{% trans "Pilih Metode Verifikasi" noop %}';
        var verificationActionMessage = '{% trans "Verifikasi" noop %}';
        var resendMessage = '{% trans "Kirim Ulang" %}';
        var otpFields = ['uuid', 'token', 'email', 'msisdn', 'challenge', 'send_to_message'];


        // ...
        // CLEAR OTP COOKIES
        // ...
        var removeCookies = function(interact) {
            $.each(otpFields, function(i, v) {
                var key = 'otp_' + interact + '_' + v;
                Cookies.remove(key);
            });
        }


        // ...
        // CREATE OTP COOKIES
        // ...
        var setCookies = function(interact, data) {
            removeCookies(interact);

            $.each(data, function(k, v) {
                if (v) {
                    var key = 'otp_' + interact + '_' + k;
                    Cookies.set(key, v, {expires: 1});
                }
            });
        }


        // ...
        // RE-SEND INTERVAL
        // ...
        var resendInterval = function(isResend = false, timeleft = 5) {
            var resendTimer = function() {
                if(timeleft <= 0){
                    clearInterval(downloadTimer);

                    $("#resend-otp").prop("disabled", false).removeClass("d-none");
                    $("#resend-timer").hide();
                }

                // resend
                if (isResend && timeleft > 0) {
                    $("#resend-otp").prop("disabled", true).addClass("d-none");
                    $("#resend-timer").show();
                }

                $("#resend-timer").html("kirim ulang, " + timeleft + " detik");
                timeleft -= 1;
            }
            var downloadTimer = setInterval(resendTimer, 1000);
        }


        // ...
        // VERIFICATION CHANNEL
        // @data captured from Modal Elem
        // ...
        var verificationChannel = function(data) {
            var redirect_to = (data.redirect_to ? 'data-redirect-to="' + data.redirect_to + '"' : '');
            var channel = '';
            
            if (data.email) {
                channel += `<button type="button" id="verification-request" data-send-to="${data.email}" data-channel="email"
                    class="list-group-item list-group-item-action" ${redirect_to} data-challenge="${data.challenge}">
                    ${sendViaEmailMessage}
                    <strong>${data.email}</strong>
                </button>`;
            }

            if (data.msisdn) {
                channel += `<button type="button" class="list-group-item list-group-item-action disabled" aria-disabled="true"
                    ${redirect_to} data-challenge="${data.challenge}">
                    ${sendViaSMS}
                    <strong>${data.msisdn}</strong>
                    <span class="badge badge-dark badge-pill">{% trans "Tidak Aktif" noop %}</span>
                    <small class="d-block w-100 text-muted">Fitur ini dalam pengembangan. Gunakan email.</small>
                </button>`;
            }

            return `<div class="list-group">${channel}</div>`;
        }


        // ... 
        // VALIDATION FORM
        // ...
        var validateOTPForm = function(data) {
            var form = `<form id="form-otp-validation" action="{{ request.get_full_path }}">
                <p>${data.send_to_message}</p>

                <div class="form-group">
                    <label for="otp-code">${enterOTPCodeMessage}</label>
                    <input type="text" class="form-control form-control-lg" id="otp-code" name="otp-code">
                </div>

                <input type="hidden" id="redirect-to" name="redirect-to" value="${data.redirect_to}">
                <input type="hidden" id="challenge" name="challenge" value="${data.challenge}">

                <div class="d-flex w-100 align-items-center">
                    <button type="submit" class="btn btn-info pl-4 pr-4 mr-auto">${verificationActionMessage}</button>

                    <div class="d-flex flex-column">
                        <button id="resend-otp" type="button" class="btn btn-sm btn-block btn-link text-info p-0 d-none" disabled>${resendMessage}</button>
                        <small id="resend-timer" class="small text-muted"></small>
                    </div>
                </div>
            </form>`;

            return form;
        }
    

        // ...
        // MODAL
        // @data captured from previous response
        // ...
        var modalElem = function(data) {
            var el = `<div class="modal fade" id="verificationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="verificationModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">${chooseChannelMessage}</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            ${verificationChannel(data)}
                        </div>
                    </div>
                </div>
            </div>`;

            return el;
        }


        // ...
        // START OTP REQUEST
        // ...
        $(document).on('click', '#verification-request', function(event) {
            event.preventDefault();

            var send_to = $(this).attr('data-send-to');
            var channel = $(this).attr('data-channel');
            var challenge = $(this).attr('data-challenge');
            var redirect_to = $(this).attr('data-redirect-to');
            var modalBody = $(this).closest('.modal-body');

            var data = {
                [channel]: send_to,
                challenge: challenge,

                // more action in other page
                // this not part from otp database
                redirect_to: (redirect_to && redirect_to != 'undefined' ? redirect_to : ''),
            }

            createOTP(data);
        });


        // ...
        // CREATE OTP
        // ...
        var createOTP = function(data) {
            $.ajax({
                method: 'POST',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                url: siteUrl + 'api/person/otps/',
                data: {...data},
                success: function(resp, textStatus, xhr) {
                    // Set Cookies and go to validate page
                    setCookies('request', resp);

                    // trigger
                    if (xhr.status === 201) {
                        $(document).trigger('otpCreated', [resp]);
                    } else {
                        $(document).trigger('otpUpdated', [resp]);
                    }

                    // Combine necessary data
                    var dataCombined = {...resp, ...data};
                    var redirect_to = data.redirect_to;

                    if (redirect_to && redirect_to != 'undefined') {
                        window.location.href = redirect_to;
                    } else {
                        // Show confirm form
                        $('#verificationModal').find('.modal-title').html(verificationActionMessage);
                        $('#verificationModal').find('.modal-body').html(validateOTPForm(dataCombined));

                        // Start timer
                        resendInterval();
                    }
                },
                error: function(err) {
                    if (err) {
                        var responseJSON = err.responseJSON;
                        $.each(responseJSON, function(index, value) {
                            if (value) errorMessage = Array.isArray(value) ? value.join(' ') : value;
                        });
                    }

                    runGeneralNotify(errorMessage, 'warning');
                }
            });
        }


        // ...
        // RESEND
        // ...
        $(document).on('click', '#resend-otp', function(event) {
            $(event.target).addClass('d-none');
    
            event.preventDefault();
            resendInterval(true);
            resendOTP();
        });
        
        var resendOTP = function() {
            var email = Cookies.get('otp_request_email');
            var msisdn = Cookies.get('otp_request_msisdn');
            var challenge = Cookies.get('otp_request_challenge');
            var token = Cookies.get('otp_request_token');
            var uuid = Cookies.get('otp_request_uuid');

            var data = {'challenge': challenge};
            if (email && email != 'undefined') data['email'] = email;
            if (msisdn && msisdn != 'undefined') data['msisdn'] = msisdn;

            $.ajax({
                method: 'PATCH',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                url: siteUrl + 'api/person/otps/' + uuid + '/',
                data: data,
                success: function(resp) {
                    // Set Cookies and go to validate page
                    setCookies('request', resp);

                    // trigger
                    $(document).trigger('otpUpdated', [resp]);
                },
                error: function(err) {
                    // If OTP not found, Create it
                    if (err.status === 404) createOTP();

                    if (err && err.status !== 404) {
                        var responseJSON = err.responseJSON;
                        $.each(responseJSON, function(index, value) {
                            if (value) errorMessage = Array.isArray(value) ? value.join(' ') : value;
                        });
                    
                        runGeneralNotify(errorMessage, 'danger');
                    }
                }
            });
        }


        // ...
        // VALIDATE OTP
        // ...
        $(document).on('submit', '#form-otp-validation', function(event) {
            event.preventDefault();
            event.stopPropagation();

            var token = Cookies.get('otp_request_token');
            var challenge = Cookies.get('otp_request_challenge');
            var email = Cookies.get('otp_request_email');
            var msisdn = Cookies.get('otp_request_msisdn');

            var otp = $(this).find('#otp-code').val();
            var redirect_to = $(this).find('#redirect-to').val();

            if ((email || msisdn) && token && otp && challenge) {
                $.ajax({
                    method: 'POST',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    url: siteUrl + 'api/person/otps/validate/',
                    data: {
                        'email': (email && email != 'undefined' ? email : ''),
                        'msisdn': (msisdn && msisdn != 'undefined' ? msisdn : ''),
                        'challenge': challenge,
                        'passcode': otp,
                        'token': token
                    },
                    success: function(resp) {
                        // clear otp cookies
                        removeCookies('request');

                        // trigger
                        $(document).trigger('otpValid', [resp]);

                        // Redirect when needed
                        if (redirect_to && redirect_to != 'undefined') window.location.href = redirect_to;
                    },
                    error: function(err) {
                        if (err) {
                            var responseJSON = err.responseJSON;
                            $.each(responseJSON, function(index, value) {
                                if (value) errorMessage = Array.isArray(value) ? value.join(' ') : value;
                            });
                        }

                        runGeneralNotify(errorMessage, 'warning');
                        $(document).trigger('otpInvalid', [err]);
                    }
                });
            }
        });


        // ...
        // RESET MODAL
        // ...
        $(document).on('hidden.bs.modal', '#verificationModal', function(event) {
            $(event.target).remove();
        });


        // ...
        // CHECK EMAIL AVAILABLE
        // ...
        var checkEmailAvailable = function(email) {
            $.ajax({
                method: 'POST',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                url: siteUrl + 'api/person/users/check-email-available/',
                data: {'email': email},
                success: function(resp) {
                    $(document).trigger('checkEmailValid', [resp]);
                },
                error: function(err) {
                    if (err) {
                        var responseJSON = err.responseJSON;
                        $.each(responseJSON, function(index, value) {
                            if (value) {
                                errorMessage = Array.isArray(value) ? value.join(' ') : value;
                            }
                        });
                    }

                    runGeneralNotify(errorMessage, 'warning');
                    $(document).trigger('checkEmailInvalid', [err]);
                }
            });
        }


        // ...
        // CHECK USERNAME AVAILABLE
        // ...
        var checkUsernameAvailable = function(username) {
            $.ajax({
                method: 'POST',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                url: siteUrl + 'api/person/users/check-username-available/',
                data: {username: username},
                success: function(resp) {
                    resp['username'] = username;
                    $(document).trigger('checkUsernameValid', [resp]);
                },
                error: function(err) {
                    if (err) {
                        var responseJSON = err.responseJSON;
                        $.each(responseJSON, function(index, value) {
                            if (value) errorMessage = Array.isArray(value) ? value.join(' ') : value;
                        });
                    }

                    runGeneralNotify(errorMessage, 'warning');
                    $(document).trigger('checkUsernameInvalid', [err]);
                }
            });
        }


        // ...
        // CHECK MSISDN AVAILABLE
        // ...
        var checkMSISDNAvailable = function(msisdn) {
            $.ajax({
                method: 'POST',
                headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                url: siteUrl + 'api/person/users/check-msisdn-available/',
                data: {'msisdn': msisdn},
                success: function(resp) {
                    $(document).trigger('checkMSISDNValid', [resp]);
                },
                error: function(err) {
                    if (err) {
                        var responseJSON = err.responseJSON;
                        $.each(responseJSON, function(index, value) {
                            if (value) {
                                errorMessage = Array.isArray(value) ? value.join(' ') : value;
                            }
                        });
                    }

                    runGeneralNotify(errorMessage, 'warning');
                    $(document).trigger('checkMSISDNInvalid', [err]);
                }
            });
        }
    </script>
    <!-- END: Global Variable -->

    {% block js %}{% endblock %}
</body>

</html>