{% load i18n %}

<nav class="uk-navbar-container">
    <div class="uk-container uk-container-large" uk-navbar>
        <div class="uk-navbar-left uk-margin-remove">
            <a class="uk-navbar-item uk-logo" href="#">Tanya Pakar</a>
        </div>

        <div class="uk-navbar-right uk-margin-remove-right">
            <ul class="uk-navbar-nav">
                <li><a href="#">{% trans "Cari Pakar" noop %}</a></li>

                {% if user.is_authenticated %}
                    <li>
                        <a href="#">{% trans "Akun Saya" noop %}</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">{% trans "Tiket" noop %}</a></li>
                                <li><a href="{% url 'person_profile' %}">{% trans "Profil" noop %}</a></li>
                                <li><a href="#">{% trans "Keamanan" noop %}</a></li>
                                <li><a href="#">{% trans "Keluar" noop %}</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="#">{% trans "Daftar" noop %}</a></li>
                    <li><a href="{% url 'person_login' %}">{% trans "Masuk" noop %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div> <!-- /.container navbar -->
</nav>

<div id="login-modal" data-uk-modal bg-close="false">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <h3 class="uk-modal-title">{% trans "Masuk ke Akun" noop %}</h3>
        <div id="login-form"><!-- ELEMENT INSERT WITH JS --></div>
    </div>
</div>

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light pl-0 pr-0 shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHeader">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">{% trans "Home" noop %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Subject</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.first_name|default:user.username|safe|escape }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow-sm" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="{% url 'person_dashboard' %}">{% trans "Dasbor" noop %}</a>
                            <a class="dropdown-item" href="{% url 'person_profile' %}">{% trans "Profil" noop %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'person_logout' %}">{% trans "Keluar" noop %}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {% if url_name == 'person_boarding' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'person_boarding' %}">{% trans "Daftar" noop %}</a>
                    </li>

                    <li class="nav-item {% if url_name == 'person_login' %}active{% endif %}"">
                        <a class="nav-link" href="{% url 'person_login' %}">{% trans "Masuk" noop %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
-->