{% extends 'v1/base/base-consultant.html' %}
{% load i18n static %}

{% block head_title %}{% trans 'Jadwal Konsultasi' noop %}{% endblock %}

{% block main %}
    <h6 class="text-uppercase">
        <strong>{% trans 'Jadwal Konsultasi' noop %}</strong>
    </h6>

    <button type="button" id="add-item" class="btn btn-info pr-3 pl-3 btn-sm mb-3">
        {% trans 'Tambah' noop %}
    </button>

    <ul id="item-list" class="list-unstyled list-margin">
        <!-- LIST HERE -->
    </ul>
{% endblock %}

{% block js %}
    <script src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}" defer></script>

    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {
            var $modalEl = `<div class="modal fade" id="modal-form" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{% trans 'Jadwal' noop %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="helpdesk-schedule-form" method="POST" action="{% url 'helpdesk_view:consultant:schedule' %}">
                                {% csrf_token %}

                                <div class="form-group">
                                    <labelfor="label">{% trans 'Label jadwal' noop %} *</label>
                                    <input class="form-control uk-width-1-1" type="text" id="label" name="label" placeholder="Ex: Konsultasi Memasak" autocomplete="off" required>
                                </div>

                                <div class="form-group">
                                    <label for="expertise">{% trans 'Keahlian jadwal ini' noop %} *</label>
                                    <div id="expertise-choices" class="row">
                                        <!-- CHOICES HERE -->
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button type="submit" class="btn btn-info pl-3 pr-3">{% trans 'Berikutnya' noop %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>`;

            // ...
            // ITEM
            // ...
            var objItem = function(obj) {
                var expertises = '';

                $.each(obj.expertises, function(i, v) {
                    expertises += `<span class="small text-muted mr-3">${v}</span>`;
                });

                return `<li id="schedule-${obj.id}" class="media" data-uuid="${obj.uuid}" data-json='${JSON.stringify(obj)}'>
                    <a href="${obj.permalink}" class="text-dark">
                        <strong>${obj.label}</strong>
                        <br />
                        ${expertises}
                    </a>
                </li>`;
            }

            // ... 
            // ADD
            // ...
            $(document).on('click', '#add-item', function(e) {
                e.preventDefault();

                $($modalEl).appendTo('body');
                $('#modal-form').modal('show');

                // Load expertises
                loadExpertise();
            });

            // ...
            // LOAD
            // ...
            var loadSchedule = function() {
                $.ajax({
                    method: 'GET',
                    url: API_ENDPOINT + 'helpdesk/consultant/schedules/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    cache: false,
                    success: function(response) {
                        var items = '';

                        $.each(response, function(k, v) {
                            items += objItem(v);
                        });

                        $('#item-list').html(items);
                        $('#item-list').sortable();
                    }
                });
            }

            loadSchedule();
    

            // ... 
            // SORTABLE
            // ... 
            $(document).on('sortupdate', '#item-list', function(event, ui) {
                var sortItems = [];

                $.each($(this).find('li.media'), function(i, v) {
                    var item = {
                        'uuid': $(v).attr('data-uuid'),
                        'sort_order': i + 1
                    }

                    sortItems.push(item);
                });

                doSorting(sortItems);
            });
    
            var doSorting = function(param) {
                $.ajax({
                    method: 'PATCH',
                    url: API_ENDPOINT + 'helpdesk/consultant/schedules/bulk-updates/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(param),
                    cache: false,
                    success: function(response) {
                        // pass
                    }
                });
            }

            // ...
            // LOAD EXPERTISES
            // ...
            var loadExpertise = function() {
                $.ajax({
                    method: 'GET',
                    url: API_ENDPOINT + 'resume/expertises/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    cache: false,
                    success: function(response) {
                        var items = '';

                        $.each(response, function(k, v) {
                            items += `<div class="col-6 col-sm-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkbox-${v.uuid}" name="expertise" value="${v.uuid}">

                                    <label class="form-check-label" for="checkbox-${v.uuid}">
                                        ${v.topic_label}
                                    </label>
                                </div>
                            </div>`;
                        });

                        $('#expertise-choices').html(items);
                    }
                });
            }

            // ...
            // SUBMIT
            // ...
            $(document).on('submit', '#helpdesk-schedule-form', function(e) {
                e.preventDefault();

                // clear all alert
                $(this).find('.uk-alert').remove();

                var values = $(this).serializeArray(),
                    uuid = $(this).find('button[type="submit"]').attr('data-uuid');
                    param = {},
                    expertises_list = [];
                
                $.each(values, function(i, v) {
                    if (v.name === 'expertise') {
                        var obj = {'expertise': v.value};
                        expertises_list.push(obj);

                    } else {
                        param[v.name] = v.value;
                    }
                });

                param['schedule_expertises'] = expertises_list;
                doSave(param);
            });

            // ...
            // SAVE
            // ...
            var doSave = function(param) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'helpdesk/consultant/schedules/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(param),
                    cache: false,
                    success: function(response) {
                        $('#modal-form').modal('hide');
                        window.location.href = response.permalink;
                    },
                    error: function(error) {
                        var errorJSON = error?.responseJSON;

                        if (error && errorJSON) {
                            $.each(errorJSON, function(k, v) {
                                var message = '';

                                if(Array.isArray(v)) {
                                    message = v.join(' ');
                                } else {
                                    message = v;
                                }
                                
                                var el = $('#' + k);
                                if (k === 'detail') el = $('#topic');
                                el.closest('.form-group').after('<p class="small">' + message + '</p>');
                            });
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}