{% extends 'v1/base/base-clean.html' %}

{% load i18n %}

{% block head_title %}{% trans "Masuk ke Akun" noop %}{% endblock %}

{% block main %}
    <section class="uk-container uk-container-xsmall uk-height-1-1 uk-flex uk-flex-middle uk-flex-center">
        <div class="uk-width-2-3@m">
            <form id="person-login-password-form" action="{% url 'person_view:login_password' %}" method="POST">
                {% csrf_token %}
                
                <h1 class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">
                    <a href="{% url 'home' %}" class="uk-text-emphasis">{{ app_name }}</a>
                </h1>

                <hr class="uk-divider-icon"></hr>

                <div class="uk-flex uk-flex-middle">
                    <a onclick="window.history.back();">
                        <span class="uk-icon" uk-icon="icon: arrow-left; ratio: 2"></span>
                    </a>

                    <span id="account" class="uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-padding-remove-right"></span>
                </div>

                <h4 class="uk-text-medium uk-margin-small-top">Masukkan sandi</h4>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" id="password" name="password" placeholder="Kata sandi akun" autocomplete="off">
                    </div>
                </div>

                <div class="uk-margin">
                    <p class="uk-margin-remove-bottom"><a href="{% url 'person_view:lost_password' %}">Lupa sandi?</a></p>
                </div>
                
                <div class="uk-text-right uk-margin-top">
                    <button type="submit" class="uk-button uk-button-primary">Masuk</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var account;

        window.addEventListener('DOMContentLoaded', function() {
            account = Cookies.get('person_login_login');

            if (account) {
                $('#account').html(account);
            } else {
                // Redirect to login
                window.location.href = "{% url 'person_view:login' %}";
            }
        
            $('input#password').focus();
            
            // SUBMIT FORM
            $(document).on('submit', 'form#person-login-password-form', function(event) {
                event.preventDefault();
                
                var password = $(this).find('input#password').val();
                if (account && password) doLogin(password);
            });

            // SEND FORM DATA
            var doLogin = function(password) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'person/token/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    data: {username: account, password: password},
                    cache: false,
                    success: function(response) {
                        Cookies.remove('person_login', {path: '/'});

                        var roles = response?.roles;
                        
                        if (roles.includes('client')) {
                            window.location.href = "{% url 'home' %}";
                        } else if (roles.includes('consultant')) {
                            window.location.href = "{% url 'person_view:consultant:dashboard' %}";
                        } else {
                            window.location.href = "{% url 'home' %}";
                        }
                    },
                    error: function(error) {
                        if (error && error?.responseJSON) {
                            UIkit.notification({
                                message: error?.responseJSON?.detail,
                                status: 'danger',
                                timeout: 2000
                            });
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}