{% extends 'v1/base/base-clean.html' %}

{% load i18n %}

{% block head_title %}{% trans "Reset kata sandi" noop %}{% endblock %}

{% block main %}
    <section class="uk-container uk-container-xsmall uk-height-1-1 uk-flex uk-flex-middle uk-flex-center">
        <div class="uk-width-2-3@m">
            <form id="person-lost-password-recovery-form" action="{% url 'person_view:lost_password_recovery' %}" method="POST">
                {% csrf_token %}

                <h1 class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">
                    <a href="{% url 'home' %}" class="uk-text-emphasis">{{ app_name }}</a>
                </h1>

                <hr class="uk-divider-icon"></hr>
                <h4 class="uk-text-medium">Kata sandi baru</h4>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" id="password1" name="password2" placeholder="Masukkan kata sandi baru" autocomplete="off">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: refresh"></span>
                        <input class="uk-input" type="password" id="password2" name="password2" placeholder="Ulangi kata sandi" autocomplete="off">
                    </div>
                </div>

                <div class="uk-text-right uk-margin-top">
                    <button type="submit" class="uk-button uk-button-primary">Simpan</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {
            var verifyCode = Cookies.get('person_verifycode_result'),
                verifyCodeObject = verifyCode ? JSON.parse(verifyCode) : {};
            
            if (!verifyCode && verifyCodeObject?.challenge !== 'password_recovery') window.location.href = "{% url 'home' %}";

            // SUBMIT FORM
            $(document).on('submit', 'form#person-lost-password-recovery-form', function(event) {
                event.preventDefault();
                
                var password1 = $(this).find('input#password1').val(),
                    password2 = $(this).find('input#password2').val();

                if (password1 && password2) doResetPassowrd(password1, password2);
            });

            // SEND FORM DATA
            var doResetPassowrd = function(password1, password2) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'person/users/password-recovery/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    data: {
                        password1: password1,
                        password2: password2,
                        recovery_uidb64: verifyCodeObject?.password_recovery_uidb64,
                        recovery_token: verifyCodeObject?.password_recovery_token,

                        // verifycode validation
                        email: verifyCodeObject?.email,
                        token: verifyCodeObject?.token
                    },
                    cache: false,
                    success: function(response) {
                        UIkit.notification({
                            message: response.detail + '. Mengalihkan...',
                            status: 'success',
                            timeout: 2000
                        });

                        Cookies.remove('person_verifycode_result', {path: '/'});

                        setTimeout(function() {
                            UIkit.notification.closeAll();
                            window.location.href = "{% url 'person_view:login' %}";
                        }, 1000)
                    },
                    error: function(error) {
                        if (error && error?.responseJSON) {
                            UIkit.notification({
                                message: error?.responseJSON?.detail,
                                status: 'danger',
                                timeout: 2000
                            });
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}