{% extends 'v1/base/base-clean.html' %}

{% load i18n %}

{% block head_title %}{% trans "Lupa kata sandi" noop %}{% endblock %}

{% block main %}
    <section class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold">
                            <a href="{% url 'home' %}" class="text-dark">{{ app_name }}</a>
                        </h3>

                        <form id="person-lost-password-form" action="{% url 'person_view:lost_password' %}" method="POST">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="account">{% trans "Reset kata sandi" noop %}</label>
                                <input class="form-control" type="text" id="account" name="account" placeholder="{% trans "Nama pengguna atau email" noop %}" autocomplete="off">
                            </div>

                            <div class="form-group text-right mb-0">
                                <button type="submit" class="btn btn-info pr-3 pl-3">{% trans "Reset" noop %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js" defer></script>

    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {
            $('input#account').focus();

            // SUBMIT FORM
            $(document).on('submit', 'form#person-lost-password-form', function(event) {
                event.preventDefault();
                
                var account = $(this).find('input#account').val();
                if (account) doLogin(account);
            });

            // SEND FORM DATA
            var doRequestVerifyCode = function(account) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'person/verifycodes/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    data: {
                        account: account, 
                        challenge: 'password_recovery'
                    },
                    cache: false,
                    success: function(response) {
                        // after verifycode validate redirected to a page define below
                        response['redirect_to'] = "{% url 'person_view:lost_password_recovery' %}";

                        Cookies.set(
                            'person_verifycode_validation', 
                            JSON.stringify(response), 
                            {expires: COOKIE_AGE, path: '/', secure: {% if request.is_secure %}true{% else %}false{% endif %}}
                        );

                        window.location.href = "{% url 'person_view:verifycode_validate' %}";
                    },
                    error: function(error) {
                        if (error && error?.responseJSON) {
                            Swal.fire(
                                'Kesalahan',
                                error?.responseJSON?.detail,
                                'warning'
                            );
                        }
                    }
                });
            }
        
            // BOARDING...
            var doLogin = function(account) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'person/users/check-account/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    data: {account: account},
                    cache: false,
                    success: function(response) {
                        doRequestVerifyCode(account);
                    },
                    error: function(error) {
                        if (error && error?.responseJSON) {
                            Swal.fire(
                                'Kesalahan',
                                error?.responseJSON?.detail,
                                'warning'
                            );
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}