{% extends 'v1/base/base-clean.html' %}

{% load i18n %}

{% block head_title %}{% trans "Lupa kata sandi" noop %}{% endblock %}

{% block main %}
    <section class="uk-container uk-container-xsmall uk-height-1-1 uk-flex uk-flex-middle uk-flex-center">
        <div class="uk-width-2-3@m">
            <form id="person-lost-password-form" action="{% url 'person_view:lost_password' %}" method="POST">
                {% csrf_token %}
                
                <h1 class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">
                    <a href="{% url 'home' %}" class="uk-text-emphasis">{{ app_name }}</a>
                </h1>

                <hr class="uk-divider-icon"></hr>
                <h4 class="uk-text-medium uk-margin-small-top">Reset kata sandi</h4>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" id="account" name="account" placeholder="Nama pengguna atau email" autocomplete="off">
                    </div>
                </div>

                <div class="uk-text-right uk-margin-large-top">
                    <button type="submit" class="uk-button uk-button-primary">Reset</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {
            $('input#account').focus();

            // SUBMIT FORM
            $(document).on('submit', 'form#person-lost-password-form', function(event) {
                event.preventDefault();
                
                var account = $(this).find('input#account').val();
                if (account) doLogin(account);
            });

            // SEND FORM DATA
            var doRequestVerifyCode = function(account) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'person/verifycodes/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    data: {
                        account: account, 
                        challenge: 'password_recovery'
                    },
                    cache: false,
                    success: function(response) {
                        // after verifycode validate redirected to a page define below
                        response['redirect_to'] = "{% url 'person_view:lost_password_recovery' %}";

                        Cookies.set(
                            'person_verifycode_validation', 
                            JSON.stringify(response), 
                            {expires: COOKIE_AGE, path: '/', secure: {% if request.is_secure %}true{% else %}false{% endif %}}
                        );

                        Turbolinks.visit("{% url 'person_view:verifycode_validate' %}");
                    },
                    error: function(error) {
                        if (error && error?.responseJSON) {
                            UIkit.notification({
                                message: error?.responseJSON?.detail,
                                status: 'danger',
                                timeout: 2000
                            });
                        }
                    }
                });
            }
        
            // BOARDING...
            var doLogin = function(account) {
                $.ajax({
                    method: 'POST',
                    url: API_ENDPOINT + 'person/users/check-account/',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    xhrFields: {withCredentials: true},
                    data: {account: account},
                    cache: false,
                    success: function(response) {
                        doRequestVerifyCode(account);
                    },
                    error: function(error) {
                        if (error && error?.responseJSON) {
                            UIkit.notification({
                                message: error?.responseJSON?.detail,
                                status: 'danger',
                                timeout: 2000
                            });
                        }
                    }
                });
            }
        });

        // BEFORE PAGE CHANGE
        document.addEventListener('turbolinks:request-start', function() {
            UIkit.notification.closeAll();
        });
    </script>
{% endblock %}