{% extends 'base-clean.html' %}
{% load i18n %}

{% block head_title %}{% trans "Masuk ke Akun" noop %}{% endblock %}

{% block main %}
    <div class="uk-container auth-page">
        <div class="uk-flex uk-flex-center uk-width-expand">
            <div class="uk-width-large">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">
                        <a href="{% url 'home' %}" class="uk-text-secondary" rel="home">{{ site_name }}</a>
                    </h3>

                    <form id="boarding-form" class="uk-form-stacked" method="POST">
                        <div uk-spinner></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var el_boardingAccount = `<div id="boarding-account">
                <div class="uk-margin">
                    <label class="uk-form-label" for="account">{% trans "ID Akun" noop %}</label>

                    <div class="uk-inline uk-width-expand">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" id="account" name="account" type="text" placeholder="{% trans "Nomor Ponsel, Email atau Username" noop %}">
                    </div>
                </div>
                
                <div class="uk-margin">
                    <p>Belum punya akun? <a href="{% url 'home' %}">Buatlah akun!</a></p>
                </div>

                <div class="uk-text-right uk-margin-medium-top">
                    <button type="submit" id="boarding-check" class="uk-button uk-button-primary boarding-check">{% trans "Berikutnya" noop %}</button>
                </div>
            </div>`;

            var el_boardingPassword = function(account) {
                return `<div id="boarding-password">
                    <button type="button" id="boarding-back" class="uk-button uk-button-text uk-button-small">
                        <span uk-icon="icon: arrow-left; ratio: 1.5"></span>
                        ${account}
                    </button>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">{% trans "Masukkan Sandi" noop %}</label>

                        <div class="uk-inline uk-width-expand">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" id="password" type="password" placeholder="{% trans "Kata sandi Akun" noop %}">
                        </div>
                    </div>
                    
                    <div class="uk-margin">
                        <p><a href="{% url 'home' %}">Lupa sandi?</a></p>
                    </div>
                    
                    <div class="uk-text-right uk-margin-medium-top">
                        <button type="submit" id="boarding-submit" class="uk-button uk-button-primary boarding-submit">{% trans "Masuk" noop %}</button>
                    </div>
                </div>`;
            }

            var el_boardingForm = $('#boarding-form');

            // Initial field
            el_boardingForm.html(el_boardingAccount);

            // Boarding check
            $(document).on('click', '#boarding-check', function(event) {
                event.preventDefault();

                var account = $('#account').val();
                checkAccountHandler(account);
            });

            // Boarding submit
            $(document).on('click', '#boarding-submit', function(event) {
                event.preventDefault();

                var account = $('#account').val();
                var password = $('#password').val();

                loginAccountHandler(account, password);
            });

            // Back to account
            $(document).on('click', '#boarding-back', function(event) {
                // Hide password field
                $('#boarding-password').hide();

                // Show account field
                $('#boarding-account').show();
            });

            // Check account
            function checkAccountHandler(account) {
                $.ajax({
                    method: 'POST',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    url: personEndpoint + 'users/check-account/',
                    data: {'account': account},
                    beforeSend: function(xHR) {
                        $('#boarding-form').find('.uk-alert').remove();
                        $('#boarding-check').prop('disabled', true);
                    },
                    complete: function(xHR) {
                        $('#boarding-check').prop('disabled', false);
                    },
                    success: function(response) {
                        $('#boarding-password').remove();
                        el_boardingForm.append(el_boardingPassword(account));
                        
                        // Hide account field
                        if (! $('#boarding-password').is(':hidden')) {
                            $('#boarding-account').hide();
                        }
                    },
                    error: function(error) {
                        if (error) {
                            var responseJSON = error.responseJSON;
                            var msg = `<div class="uk-alert-danger" uk-alert>
                                <p>${responseJSON.detail}</p>
                            </div>`;

                            $('#boarding-form').prepend(msg);
                        }
                    }
                });
            }

            // Login account
            function loginAccountHandler(account, password) {
                $.ajax({
                    method: 'POST',
                    headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                    url: personEndpoint + 'token/',
                    data: {'username': account, 'password': password},
                    beforeSend: function(xHR) {
                        $('#boarding-form').find('.uk-alert').remove();
                        $('#boarding-submit').prop('disabled', true);
                    },
                    success: function(response) {
                        window.location.href = "{% url 'home' %}";
                    },
                    error: function(error) {
                        if (error) {
                            // release button
                            $('#boarding-submit').prop('disabled', false);

                            var responseJSON = error.responseJSON;
                            var msg = `<div class="uk-alert-danger" uk-alert>
                                <p>${responseJSON.detail}</p>
                            </div>`;

                            $('#boarding-form').prepend(msg);
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}